.Pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pagination > * + * {
  margin-top: 8px;
}

.Pagination .buttons-container {
  display: flex;
  flex-direction: row;
}

.Pagination .buttons-container > * + * {
  margin-inline-start: 12px;
}
