.SearchForm form {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.SearchForm form > * + * {
  margin-inline-start: 8px;
}

.SearchForm input {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 2px;
  border: 1px solid black;
  padding: 0 4px;
}
